body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0 !important;
}
body .icon-bitcoin {
    filter: invert(100%) sepia(12%) saturate(7452%) hue-rotate(188deg) brightness(109%) contrast(112%);
}
body header nav .title-header {
    color: #fff;
    font-weight: 600;
}

body .nav-link {
    color: #fff;
}
body .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: #000;
}

body .nav-link:hover, .nav-link:focus {
    color: #000;
}

body main {
    min-height: 760px;
    margin-top: 80px;
}
.box-saldo {
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 0;
}

.box-saldo .contents .title-saldo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0;
}

.box-saldo .contents .title-saldo .card-text {
    font-size: 1rem;
    font-weight: 600;
    color: #212529;
}

.box-saldo .contents .content-saldo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 10px 0;
}

.box-saldo .contents .content-saldo p {
    font-size: 2rem;
    font-weight: 700;
    color: #212529;
    margin: 0;
}

.box-saldo .contents .content-lancamentos p {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    margin: 0;
    font-size: 1rem;
    color: #212529;
}
.box-saldo .contents .content-lancamentos p span {
    font-style: italic;
}

.three-menu {
    width: 100%;
    max-width: 500px;
    padding: 10px 0;
    margin-top: 20px;
}
.three-menu .contents {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.three-menu .contents .box {
    width: 150px;
    height: 80px;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

.three-menu .contents .box:hover {
    background-color: #000;
}
.three-menu .contents .box:hover a img {
    filter: invert(94%) sepia(0%) saturate(0%) hue-rotate(209deg) brightness(104%) contrast(105%);
}
.three-menu .contents .box:hover a p {
    color: #fff;
}

.three-menu .contents .box a {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding-left: 15px;
}

.three-menu .contents .box a p {
    font-size: 1rem;
    font-weight: 600;
    color: #212529;
}

.last-transaction {
    width: 100%;
    max-width: 500px;
    min-height: 500px;
    background-color: #fff;
    padding: 10px 0;
    margin: 20px 0;
    border-radius: 10px;
}

.last-transaction .contents .title-saldo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0;
}

footer {
    /*margin-top: 100%;*/
}

footer p {
    color: #fff;
}

footer img {
    filter: invert(100%) sepia(12%) saturate(7452%) hue-rotate(188deg) brightness(109%) contrast(112%);
}


@media (max-width: 991px) {
    body main {
        min-height: 500px;
    }
}
@media (min-width: 768px) {
    body .navbar-expand-md .navbar-collapse {
        justify-content: flex-end;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .menu-top .card-body div {
        display: flex;
        justify-content: center;
        gap: 20px;
    }
}
@media (max-width: 480px) {
    .menu-top .card-body div .box {
        max-width: 100px;
    }
}

@media (max-width: 320px) {
    .menu-top .card-body div .box {
        max-width: 80px;
    }
}